.carre{
    width: 200px;
    height: 200px;
}

.bleu{
    background-color: blue;
}

.rouge{
    background-color: red;
}

.orange{
    background-color: orange;
}

.vert{
    background-color: green;
}

.violet{
    background-color: violet;
}